*{
    background-color: rgb(255, 140, 0);
    font-family: Winky Sans;

}

#menusuperior{
    background-color: blue;
    color: blanchedalmond;

}

#menuinformativo{
    background-color: black;
    display: grid;
    grid-auto-flow: column;
    columns: auto;

}

.textoinformativo{
    display: grid;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 75px;
    margin-left: 20px;

}

.spaninformativo{
    font-size: 20px;
    font-weight: normal;

}

#menuconteudo {
    background-color: rgb(22, 232, 232);
    display: grid;
    grid-auto-flow: column;
    column:auto;
}
#image{
    margin: 100px 25px 100px 100px

}
#textoconteudo {
    text-align: justify;
    font-size: 40px;
    font-weight: bolder;
    margin: 260px 25px 50px 100px;
}
#image, #textoconteudo, #formulario {
    visibility: hidden;
}
#spanconteudo {
    text-align: justify;
    font-size: 24px;
    font-weight: normal;
}
#formulario{
    background-color: blue;
    text-align: center;
}
#tituloformulario {
    font-size: 32px;
    padding: 70px 70px 20px 70px;
    color:azure;
}
input {
    width: 400px;
    height: 60px;
    margin: 25px;
    border: 1px;
    border-radius: 10px;
    padding-left: 10px;
}